    body {
      background: #f1f1f1;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      width: 350px;
      background: #2f2f2f;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    h1 {
      text-align: center;
      color: white;
      margin-bottom: 15px;
    }

    #input {

      max-width: fit-content;
      height: 65px;
      border: none;
      padding: 10px;
      border-radius: 10px;
      background: #dcdcdc;
      font-size: 28px;
      text-align: right;
      outline: none;
    }

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }

    .col {
      width: 24%;
    }

    button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 12px;
      font-size: 20px;
      background-color: #ff9f43;
      color: white;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }

    button:hover {
      opacity: 0.85;
    }

    button:active {
      transform: scale(0.92);
    }


    .op {
      background: #ff6f00;
    }


    .equal {
      background: #ff3d00;
    }
